Library/*
Temp/*
*.sln
UnityPackageManager/manifest.json
*.csproj
AKBFramework.Log/*
obj/*
*.suo
*.code-workspace
Logs/Packages-Update.log
Packages/manifest.json
.idea/*
Assets/MyOwn/*
Assets/MyOwn.meta
Assets/Framework/framework.code-workspace.meta
*.meta
*.meta
Assembly-CSharp-Editor.csproj.meta
